*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mini-nav {

}

.mini-nav li {
  color: #fff;
  display: inline-block;
}

.pick-container {
  background: #3f3f3f;
  margin: 40px 0;
  padding: 20px;
}

.pick-label {
  font-size: 3em;
  color: #fff;
  text-align: center;
}

.choices li {
  background: #efefef;
  border-radius: 5px;
  display: inline-block;
  margin: 0 10px;
  padding: 15px;
  width: 30%;
}

.choices {
  list-style: none;
}

.choices a {
  display: block;
}


.choices .choice-picked {
  background: #ffcc00;
}

.timer {
  display: block;
  font-size: 2em;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}