<div class="form-group">
  <h2>Make a choice!</h2>
  <timer countdown="10" interval="1000" finish-callback="timesUp()">{{seconds}} second{{secondsS}}</timer>
  <ul>
    <li ng-class="{ 'choice-picked': $index == selection }" ng-repeat="choice in choices">
      <a href="" ng-click="makeChoice($index)"><img src="{{ choice.image_url }}" />
      <h4>{{ choice.name }}</h4>
      <img src="{{ choice.rating_img_url }}" />({{ choice.review_count }} reviews)
      {{ choice.location.display_address.join('\n') }}

      </a>
    </li>
  </ul>
  <a ui-sref="pick" ng-click="startOver()">Start Over</a>
  
</div>
